* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* HOME */

.seccion1 {
  display: flex;
  width: 100%;
  height: 100vh;
}

.img-half {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
